<ul id="notes-list" class="notes-list" hx-swap-oob="true">
  {{#noteslist}}
  <li>
    <div class="sidebar-note-list-item" _="on load set excerpt to false">
      <header class="sidebar-note-header">
        <strong>{{title}}</strong>
        <small>{{createdAt}}</small>
      </header>
      <button class="sidebar-note-open" hx-get="/note/{{id}}" style="border: 1px solid transparent"
        hx-target="#note-viewer" hx-indicator=".htmx-indicator">
        Open note for preview
      </button>
      <button class="sidebar-note-toggle-expand" _="on click toggle .hidden on #note-excerpt-{{id}}
if #expand-btn-{{id}}.src.includes('chevron-up') then put '/images/chevron-down.svg' into #expand-btn-{{note.id}}.src
else put '/images/chevron-up.svg' into #expand-btn-{{id}}.src end">
        <img id="expand-btn-{{id}}" src="/images/chevron-up.svg" alt="Expand" width="10px" height="10px" />
      </button>
      <p class="sidebar-note-excerpt hidden" id="note-excerpt-{{id}}">
        {{content}}
      </p>
    </div>
  </li>
  {{/noteslist}}
</ul>
